html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

/* navbar */
.navbar {
  display: flex;
}

.container {
  padding: 0 6.25em;
  background: rgb(255, 255, 255);
}

.container-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 6.25em;
  background: rgb(255, 255, 255);
}

.container-1 .logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
  color: black;
  height: 100%;
}

.container-1 a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 68%;
  padding-top: 15px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .primary-nav {
  width: 45%;
}

nav .primary-nav a {
  font-size: 16px;
  font-weight: 500;
  color: black;
  line-height: 45px;
  transition: 0.5s;
}

nav .primary-nav a:hover {
  color: #8e9aaf;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
}
/* akhir navbar */


/* landing page */
section {
  margin-bottom: 50px;
}

.container .text {
  padding-top: 6.25em;
  width: 65%;
}

.container .text h1 {
  font-size: 75px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.container .text .button {
  padding: 15px 45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background: rgb(33, 36, 51);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.container .text .button:hover {
  background: white;
  color: black;
  border: 2px solid black;
}
/* akhir landing page */

/* Hero img */

.container .img-item img {
  width: 100%;
}
/* akhir hero img */

/* content */
.image{
  padding: 50px 90px;
}
.text-contents{
  padding: 5px 90px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.text-contents strong {
  font-size: 32px;
}

.image-brands{
  padding: 5px 90px;
  float: left;
  width: 17%;

}
.brands{
  position: relative;
}
.image-brands .button {
  margin-top: 25px;
  padding: 12px 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  background: rgb(33, 36, 51);
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.image-brands .button:hover {
  background: white;
  color: black;
  border: 2px solid black;
}
.img-full{
  margin-top: 530px;
  padding: 0px 90px;
  position: relative;
	z-index: 1;
}

.img-full img {
  filter: brightness(80%);
}

.image-stories{
  padding: 5px 90px;
  float: left;
  width: 30%;
  filter: brightness(70%);
	margin-bottom: 50px;
}
.brands{
  position: relative;
}
.txt{
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  float: right;
  text-align: right;
  margin-top: 2em;
  width: 65%;
  padding: 5px 90px;
}
.txt_2{
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  float: right;
  text-align: right;
  margin-top: 2em;
  width: 65%;
  padding: 5px 90px;
}
.txt_img{
  position: absolute;
  top: 1em;
	left: 0.5em;
	width: 40%;
  z-index: 2;
  color: white;
  padding: 5px 140px;
  font-family: 'Montserrat', sans-serif;
  font-size: 62px;
}
.txt_product{
  text-decoration: none;
  position: absolute;
  top: 9em;
	right: 0;
  z-index: 2;
  color: white;
  padding: 5px 140px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}


/*footer*/
.footer-container p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 0.3cm;
}
.footer-container h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 0.5px solid #dee7ec;
  padding-bottom: 40px;
  font-weight: lighter;
}

li {
  list-style: none;
}

footer {
  margin: 0;
  padding-top: 40px;
}
.footer-container {
  float: left;
  padding-top: 35px;
  padding-bottom: 0px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #33334a;
  width: 100%;
  box-sizing: border-box;
}

.footer-list {
  float: right;
  padding-top: 0;
  padding-bottom: 40px;
}

.footer-item a:hover {
  float: left;

}
.footer-item li{
  font-size: 12px;
  color: #787a91;
  line-height: 0.5cm;
}
.footer-item a {
  text-decoration: none;
  color: #787a91;
}



/* Responsive */
@media screen and (max-width: 1440px) {
  nav {
    width: 70%;
  }

  nav .primary-nav {
    width: 50%;
  }

  .container .text h1 {
    font-size: 55px;
  }

  .container .text .button {
    font-size: 14px;
  }

	.img-full .txt_img {
	    font-size: 40px;
	    line-height: 50px;
	    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }

  .container a {
    line-height: 78px;
  }

  .img-full {
    display: none;
  }

  .image-stories {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  section {
    display: flex;
  }

  .container .img-item {
    display: flex;
    position: relative;
    width: 100%;
  }

  .img-item img {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .container-1 .logo {
    position: relative;
    top: 15px;
    right: 60px;
    /* background: red; */
  }

  .container {
    position: relative;
    top: 15px;
    /* right: 50px; */
  }

  .container .text {
    /* background: red; */
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .container .text h1 {
    font-size: 30px;
  }

  .content .image-brands {
    margin-bottom: 40px;
  }

  .content .image-brands img {
    /* background: red; */
    position: relative;
    right: 0;
    margin-bottom: -10px;
  }

  .content .image-brands .img {
    padding-bottom: 60px;
  }

  .teks-judul .text-contents strong {
    display: none;
  }

  .tek {
    position: relative;
    right: 0;
  }

  .tek .txt {
    position: relative;
    top: 25px;
  }

  .img-full {
    display: none;
  }

  .image-stories {
    display: none;
  }

  .footer-container {
    margin-top: 15px;
  }
}

